/* .usContainer {
    padding-top: 170px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
} */
.usContainer {
      padding-top: 17vh;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .headerContent{
      
      display: flex;
      flex-direction: column;
      max-width: 800px;
      align-items: center;
      width: 35%;
      height: 15%;
      padding: 15px;
      box-shadow: 15px 9px 15px rgba(0, 0, 0, 0.1);
      background: linear-gradient(135deg, #209c56, #35e24c,  hsl(125, 65%, 50%), #0d6730);
      border-radius: 2%;
      gap: 15px;
      color: #050425;
    }
  
.us {
    background-color: #cde1f2; /* Fondo celeste claro */
    color: #2a2727; /* Color del texto */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .us p {
    line-height: 1.6;
    text-align: justify;
  }
  
  .us img {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: auto;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }