
.usContainer {
      padding-top: 17vh;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .headerContent{
      
      display: flex;
      flex-direction: column;
      max-width: 800px;
      align-items: center;
      width: 35%;
      height: 15%;
      padding: 15px;
      box-shadow: 15px 9px 15px rgba(0, 0, 0, 0.1);
      background: linear-gradient(135deg, #a1b0d1, #909fc9,  hsl(218, 22%, 78%), #3c6695);
      border-radius: 2%;
      gap: 15px;
      color: #050425;
    }
  
.us {
    background-color: #cde1f2; 
    color: #2a2727;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .us p {
    line-height: 1.6;
    text-align: justify;
  }
  
  .us img {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: auto;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @media (max-width: 767px) {
    .headerContent {
      width: 80%;
      }
      
      .us{
        width: 80%;
      }

}

@media (max-width: 380px) {
  .us p {
    text-align: start;
  }
}

@media (max-width: 330px) {

  .headerContent h2{
    text-align: center;
  }
  .headerContent p{
    text-align: center;
  }
  .us p {
    font-size: small;
  }

}