
.cart {
position: fixed;
  left: 82%;
  top: 0px;
  width: 16%;
  box-shadow: 5px 4px 20px black;
  background-color: #5394da; /* Azul */
  color: white;
  /* border: none; */
  padding: 10px 20px;
  /* cursor: pointer; */
  border-radius: 5px;
  /* transition: background-color 0.3s; */
  max-height: 100vh;
  overflow-y: auto;
}

.titleCart{
  padding: 10px;
}

  .cardProduct{
    padding-top: 10px;
    border: outset 2px rgb(78, 76, 155);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(61, 61, 141);
  }
  .titleProdCart{
    padding: 4px;
  }

.totalCart {
  padding-top: 20px;
  font-weight: bolder;
}
.totalProd{
  color: #0d0640;
  font-weight: bold;
}

 .buttonCart{
  background-color: #0d0640; /* Color celeste */
  color: rgb(205, 203, 211);
  border: none;
  padding: 4px 3px;
  font-size: 10px;
  width: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}
