
.cart {
position: fixed;
  left: 82%;
  top: 0px;
  width: 16%;
  box-shadow: 5px 4px 20px black;
  background-color: #5394da; /* Azul */
  color: white;
  /* border: none; */
  padding: 10px 20px;
  /* cursor: pointer; */
  border-radius: 5px;
  /* transition: background-color 0.3s; */
  max-height: 100%;
  overflow-y: auto;

}

.titleCart{
  padding: 6px;
  font-size: medium;
}

  .cardProduct{
    display: flex;
    flex-direction: column;
    border: outset 2px rgb(78, 76, 155);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(61, 61, 141);
    font-size: small;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
  }

  .cardProduct:hover {
    background-color: #271963; /* Color azul */
    border-radius: 6px;
    transform: scale(0.99); /* Aumenta ligeramente el tamaño */
    position: relative;
    
  }

  .titleProdCart{
    padding: 4px;
    padding-bottom: 10px;
    font-size: medium
  }

.totalCart {
  padding-top: 15px;
  font-weight: bolder;
}
.totalProd{
  color: #0d0640;
  font-weight: bold;
}

 .buttonCart{
  background-color: #0d0640; /* Color celeste */
  color: rgb(205, 203, 211);
  border: none;
  border-radius: 5px;
  padding: 4px 3px;
  font-size: 10px;
  width: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}

.buttonCart:hover {
  background-color: #060318; /* Color azul */
  transform: scale(1.06); /* Aumenta ligeramente el tamaño */
  border-radius: 6px;
}

.quantity{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
}

.quantity button{
  height: 15px;
  width: 15px;
  margin: 1px;
}
