  .CardSuccessContent{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    width: 45%;
    height: 15%;
    padding: 15px;
    box-shadow: 15px 9px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #1e8b4d, #5babab, #9dc0a2, #1c6c3a);
    border-radius: 2%;
    gap: 20px;
    color: #050425;
    text-align: center;
    border: solid #8d9232;
  }

.CardSuccessContent h3 {
  font-size: 28px;
}

.linkContinue{
    background-color: #2f829e; 
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin-top: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.linkContinue:hover {
    background-color: #4833a8; 
    transform: scale(1.10); 
    border-radius: 5px;
  }

  .congrulationsMessage{
    color: #558030;
  }


@media (max-width: 810px) {

  .CardSuccessContent {
    width: 80%;
    height: 70vh;
    justify-content: center;
    
  }
}

@media (max-width: 630px) {

  .CardSuccessContent p {
  font-size: small;
  }

  .CardSuccessContent h3 {
    font-size: 20px;
  }

}

@media (max-width: 630px) {

.CardSuccessContent{
  width: 95%;
}

}