
.usContainer {
    padding-top: 17vh;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .CardSuccessContent{
    
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    width: 45%;
    height: 15%;
    padding: 15px;
    box-shadow: 15px 9px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #48b778, #63e174, #37c54a, #178a43);
    border-radius: 2%;
    gap: 15px;
    color: #050425;
    text-align: center;
  }

.us {
  background-color: #cde1f2; 
  color: #2a2727; 
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.us, p, h2, h1 {
  line-height: 1.6;
  text-align: justify;
  color: #15187b;

}

.CardSuccessContent h3 {
  font-size: 28px;
}

.linkSucess{
    background-color: #2f829e; 
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin-top: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.linkSucess:hover {
    background-color: #4833a8; 
    transform: scale(1.10); 
    border-radius: 5px;
  }


@media (max-width: 810px) {

  .CardSuccessContent {
    width: 80%;
    height: 70vh;
    justify-content: center;
    
  }
}

@media (max-width: 630px) {

  .CardSuccessContent p {
  font-size: small;
  }

  .CardSuccessContent h3 {
    font-size: 20px;
  }

}