
  .forms{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form div{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .form label {
    width: 80px;
  }



  .errorMessage {
    color: rgb(190, 29, 29);         
    font-size: 14px;   
    margin-top: 5px;    
  }
  
  .successMessage{
    padding-top: 15px;
  }

#commentContainer {
  display: flex;
  flex-direction: column;
}

  #comment {
    height: 20vh;
    width: 70vw;
  }

  @media (max-width: 1050px) {

    .forms{
      width: 80%;
      }
      .othersContacts p{
        font-size: medium;
      }
  }

  @media (max-width: 790px) {


  
  }

@media (max-width: 530px) {

  .othersContacts p{
    font-size: medium;
  }

}
@media (max-width: 395px) {

.othersContacts p{
font-size: 14px;
}
}
 
@media (max-width: 380px) {

  #comment {
    width: 50vw;
  }
  
  }

  @media (max-width: 330px) {

    .otherContacts {
        padding: 10px;
    }
}

  @media (max-width: 285px) {

  .othersContacts p{
    font-size: small;
    padding: 5px;
    padding-left: 5px;
  }
}

    @media (max-width: 230px) {
  .othersContacts{
    padding-left: 5px;
  }
  
  }