
  .forms{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form div{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .form label {
    width: 80px;
  }

#commentContainer {
  display: flex;
  flex-direction: column;
}

  #comment {
    height: 20vh;
    width: 70vw;
  }

  @media (max-width: 1050px) {

    .forms{
      width: 80%;
      }
  }


@media (max-width: 530px) {

  .othersContacts li{
    font-size: medium;
  }

}
@media (max-width: 395px) {

.othersContacts li{
font-size: 14px;
}
}
 
@media (max-width: 380px) {

  #comment {
    width: 50vw;
  }
  
  }

  @media (max-width: 330px) {

    .otherContacts {
        padding: 10px;
    }
    ul {
      list-style: none;
    }
}

  @media (max-width: 285px) {

  .othersContacts li{
    font-size: small;
    padding: 5px;
    padding-left: 5px;
  }
}

    @media (max-width: 230px) {
  .othersContacts{
    padding-left: 5px;
  }
  
  }