
.contactContainer{
    padding-top: 17vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 30px;
}

.homeContacto {
    background-color: #cde1f2; /* Fondo celeste claro */
    color: #2a2727; /* Color del texto */
    padding: 30px;
    border-radius: 10px;
    padding: 20px auto;
    width: 500px;
    max-width: 800px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.homeContacto h3 {
    color: #0a5cad; /* Azul */
    text-align: center;
    margin-bottom: 50px;
  }
  
  .homeContacto p {
    line-height: 1.6;
    text-align: justify;
    color: #2a2727; /* Color del texto */
    font-weight: 600;
  }

  .homeContacto img {
    display: block;
    margin: 30px auto;
    width: 100px;
    height: auto;
  }

  .forms{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }

  .form div{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }


  .errorMessage {
    color: rgb(190, 29, 29);          /* Cambia el color del texto a rojo */
    font-size: 14px;     /* Tamaño de fuente */
    margin-top: 5px;     /* Margen superior */
  }
  
  .successMessage{
    padding-top: 15px;
  }

#commentContainer {
  display: flex;
  flex-direction: column;
}

  .comment {
    height: 20vh;
    width: 70vw;
  }

footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
} 

footer p{
  color: #2a2727; /* Color del texto */
}

@media (max-width: 530px) {

.homeContacto{
  width: 80%;
  }
  .othersContacts p{
    font-size: medium;
  }

}
@media (max-width: 395px) {

.othersContacts p{
font-size: 14px;
}
}
 
@media (max-width: 380px) {

  .homeContacto{
    width: 100%;
    border-radius: 0px;

    }
  
  }

  @media (max-width: 285px) {


.homeContacto {
  padding: 20px 10px;
}
.form {
  transform: scale(0.8);
}
.othersContacts p{
  font-size: small;
}

    }

    @media (max-width: 230px) {

  .homeContacto {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 20px 0px;
    font-size: small;
    text-align: center;
  }

  .form {
    transform: scale(0.8);
  }
  .othersContacts{
    padding-left: 5px;
  }
  
      }