.hero{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    box-shadow: 15px 9px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #5e7dc0, #9db1e9,  hsl(217, 90%, 60%), #3c6695);
    border-radius: 2%;
    padding: 7px;
    margin-top: 40px;
}

#linkProducts {
    margin-top: 50px;
}

.cardsContainer {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}


.link{
        background-color: #2f829e; /* Color celeste */
        color: white;
        border-radius: 3px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        text-decoration: none;
}

.link:hover {
    background-color: #4833a8; /* Color azul */
    transform: scale(0.99); /* Aumenta ligeramente el tamaño */
    border-radius: 3px;
  }


@media (max-width: 660px) {

.home {
    transform: scale(0.9);
}

#linkAboutUs{
    transform: scale(0.9);
}
}


@media (max-width: 450px) {

    .home {
        transform: scale(0.8);
    }
    #linkAboutUs{
        transform: scale(0.8);
    }
    
}


@media (max-width: 392px) {

    .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 20px 20px;
        min-width: 70%;
    }
    .paragraph p{
        text-align: start;
        font-size: small;
    }

    .homeContainer{
        padding-right: 2px;
        padding-left: 2px;
    }

    .titleHero {
        flex-direction: column;
        
    }


    .home{
        transform: scale(0.7);
    }

    #linkAboutUs{
        transform: scale(0.7);
    }

    .link{
        display: flex;
       height: 50px;
       justify-content: center;
       align-items: center;
    }

}

@media(max-width: 300px) {
    .home{
        transform: scale(0.55);
    }
    #linkAboutUs{
        transform: scale(0.55);
    }
}



