
.homeContainer {
display: flex;
flex-direction: column;
padding-top: 130px;
gap: 60px;
padding-right: 300px;
padding-left: 20px;
}


.home {
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    gap: 10px;
}

.titleHero{
    display: flex;
    justify-content: center;
}

.welcome{
    font-size: xx-large;
    font-weight: bolder;

    
}

h1 {
    padding-left: 10px;
    padding-bottom: 30px;
}
h3 {
    display: flex;
    justify-content: center;
}
    
.footer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.linkProd{
        background-color: #00bfff; /* Color celeste */
        color: white;
        border-radius: 2px;
        padding-top: 10px;
        margin-top: 40px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
}

.linkProd:hover {
    background-color: #4833a8; /* Color azul */
    transform: scale(1.03); /* Aumenta ligeramente el tamaño */
    border-radius: 7px;
  }