*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    /* background: url(https://previews.123rf.com/images/sn333g/sn333g1602/sn333g160200057/53263946-fondo-azul-de-los-servicios-de-plomer%C3%ADa.jpg) ;*/
    background: linear-gradient(135deg, #9db1e9, #89a3dd, hsl(217, 90%, 60%), #93c5fd);
    box-sizing: border-box;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


#NavContainer {
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    box-shadow: 0 5px 24px black;
    background-color: rgb(61, 61, 141);
    position: fixed;
    width: 80%;
    height: 80px;
    gap: 5%;
    border-bottom-right-radius: 15px;


    z-index: 1000; /* Asegura que la navbar se superpone a otros elementos */
}

#NavContainer * {
    box-sizing: border-box;
}


ul {
    list-style: none;
    padding-right: 20px;
    display: flex;
    justify-content: right;

}

.nav-links { list-style: none; display: flex; } 
.nav-links li { margin: 0 15px;
}

.Login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navLink{
    text-decoration: none;
    color:rgb(206, 203, 240);
    font-size: 18px;
}

.menu-toggle { 
    display: none; flex-direction: column; cursor: pointer; }

    .menu-toggle .bar { width: 25px; height: 3px; margin: 4px 0; background-color: #fff; }

/* Estilos para pantallas grandes (escritorio) */
/* @media (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
} */

/* Estilos para tablets (pantallas medianas) */
/* @media (max-width: 1023px) and (min-width: 768px) {
    .container {
        max-width: 700px;
    }
} */

/* Estilos para celulares (pantallas pequeñas) */
@media (max-width: 767px) {

    #NavContainer { justify-content: space-between; }
    
    .nav-links{ display: none; flex-direction: column; width: 100%; background-color: rgb(61, 61, 141); position: absolute; top: 80px; left: 0; }

    .nav-links.active{
        display: flex; 
    }

    .nav-links li { 
        margin: 20px 0; text-align: center;
     }
     .menu-toggle { display: flex; } 
    
    }




