
#NavContainer {
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 5px 24px black;
    background-color: rgb(61, 61, 141);
    position: fixed;
    width: 100%;
    height: 80px;
    gap: 5%;

    z-index: 1000; 
}

#NavContainer {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links { 
    list-style: none; 
    display: flex;
    align-items: center;   
} 
.nav-links li { 
    margin: 0 15px;
}

.Login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navLink{
    text-decoration: none;
    color:rgb(206, 203, 240);
    font-size: 18px;
}

.menuToggle { 
    display: none; 
    flex-direction: column; 
    cursor: pointer; 
    background-color: rgb(61, 61, 141);
    padding-left: 25px;
}

.menuToggle .bar { 
        width: 25px; 
        height: 3px; 
        margin: 3px 0; 
        background-color: black; 
}    

@media (max-width: 1050px) {
    #NavContainer{
        justify-content: start;
        padding-left: 30px;
    }
    }

@media (max-width: 900px) {
    .nav-links li { 
        margin: 0 8px;
    }

    .navLink {
        font-size: 17px;
    }
    }

@media (max-width: 810px) {

    #NavContainer { 
        justify-content: space-between; 
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    
    .nav-links{ 
        display: none; 
        flex-direction: column; 
        width: 100%;
        height: 100vh;
        background-color: rgb(61, 61, 141); 
        position: absolute; 
        left: 0;
        top:70px; 
        padding-bottom: 40px;
        
    }

    .nav-links.activeMenu{
        display: flex; 
    }

    .nav-links li { 
        margin: 20px 0; 
        text-align: center;
     }

     .menuToggle { 
        display: flex; 
        
    } 
    
}