*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg, #9db1e9, #89a3dd, hsl(217, 90%, 60%), #93c5fd);
    box-sizing: border-box;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


#NavContainer {
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    box-shadow: 0 5px 24px black;
    background-color: rgb(61, 61, 141);
    position: fixed;
    width: 80%;
    height: 80px;
    gap: 5%;
    border-bottom-right-radius: 15px;

    z-index: 1000; 
}

#NavContainer * {
    box-sizing: border-box;
}


ul {
    list-style: none;
    padding-right: 20px;
    display: flex;
    justify-content: right;

}

.nav-links { 
    list-style: none; 
    display: flex;
    align-items: center;   
} 
.nav-links li { 
    margin: 0 15px;
}

.Login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navLink{
    text-decoration: none;
    color:rgb(206, 203, 240);
    font-size: 18px;
}

.menuToggle { 
    display: none; 
    flex-direction: column; 
    cursor: pointer; 
    background-color: rgb(61, 61, 141);
    padding-left: 25px;
}

.menuToggle .bar { 
        width: 25px; 
        height: 3px; 
        margin: 3px 0; 
        background-color: black; 
}    



@media (max-width: 810px) {

    #NavContainer { 
        justify-content: space-between; 
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    
    .nav-links{ 
        display: none; 
        flex-direction: column; 
        width: 100%;
        height: 100vh;
        background-color: rgb(61, 61, 141); 
        position: absolute; 
        left: 0;
        top:70px; 
        padding-bottom: 40px;
        
    }

    .nav-links.activeMenu{
        display: flex; 
    }

    .nav-links li { 
        margin: 20px 0; 
        text-align: center;
     }

     .menuToggle { 
        display: flex; 
        
    } 
    
}




