.loginContainer {
    padding-top: 170px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    width: 150px;
    height: 18px;
    gap: 30px;
    flex-direction: column;
}