.loginContainer {
    padding-top: 170px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.login {
    display: flex;
    width: 150px;
    height: 18px;
    gap: 30px;
    flex-direction: column;
}

.buttonAndCheck{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


footer{
    margin-top: 400px;
}

h4 {
    font-size: larger;
    margin-bottom: 20px;
}