

.ProductsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 30px;
    gap: 50px;
   
}

.sectionProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#containerFilter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    padding-right: 50px;
    
}

.filter{
   
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 5px;
    align-items: start;
border-radius: 10px;
background-color: rgb(61, 61, 141);
    padding: 5px;
}

.filter p{
    color: #a5a7c9;
}

.Products {
    display: flex;
    gap: 30px;
    padding-bottom: 70px;
}

.Card {
    
    border-radius: 8px;
    width: 200px;
    height: 250px;
    padding-top: 10px;
    background-color: aquamarine;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.Card:hover {
 
        background-color: #b6c5d4;
        transform: scale(1.05);
      & img{
        border: solid #a5a7c9;
      }
}

.CardA{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.CardB {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.titleCardProducts {
    
    text-align: center; 
}

.titleCard {
    display: flex;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

.Precio {
    padding: 7px;
    font-size: 15px;
    color: #125c99; 
    
}

img {
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
    border: solid #c4c5d2;
    border-radius: 8px;
    width: 180px;
    height: 160px;
}
.Card button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  

  .Card button:hover {
    background-color: #b2cd8b; 
    transform: scale(1.03);
    border-radius: 2px;
  }

  
footer, .description {
    padding-bottom: 20px; 
    font-weight: 600;
  }

  @media (max-width: 940px) {


     .Products{
    
        transform: scale(0.85);
        width: 100%;
align-items: center;
        
        
     }

     .description{
        padding: 20px;
     }
   
}

@media (max-width: 767px) {

    .Products{
        transform: scale(0.65);
     }

}


@media (max-width: 560px) {
    .Products{
    
        transform: scale(0.55);
     }
}


@media (max-width: 490px) {
    

   .Products{
        transform: scale(0.8);
        flex-wrap: wrap;
            
     

    }
    .Card{
        margin-bottom: 30px ;
    }                
    
    .description{
        text-align: center;
    }
       
    
}

@media (max-width: 450px) {
    #containerFilter{
        align-items: flex-start;
        padding-left: 40px;
     }
}

@media (max-width: 270px) {
    #containerFilter{
    align-items: center;
padding: 0px;
     }
}