.SignUpContainer {
    padding-top: 170px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.SignUp {
    display: flex;
    width: 150px;
    height: 18px;
    gap: 30px;
    flex-direction: column;
}

.titleSign {
    padding-bottom: 30px;
    font-size: xx-large;
}


@media (max-width: 767px) {
    .titleSign{
        font-size: x-large;
    }
}